// @font-face {}

// $primary: #ffa906;
// $secondary: #fff348;
// $success: #b6dc49;

// $light: #fffdf3;
// $dark: #393939;

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    & .container {
        width: 100%;
        height: 100%;
        background-color: rgba(135, 207, 235, 0.541);
    }
}

main {
    width: 100vw;
    height: 100vh;

    & .container {
        width: 100%;
        height: 100%;
    }
}