@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .header-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1080px;
}
.header .header-inner .header-title {
  flex: 0;
  margin-right: auto;
}
.header .header-inner .header-title a {
  display: block;
  padding: 16px 0px;
}
.header .header-inner .header-menu {
  flex: 1;
}
.header .header-inner .header-menu .header-nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-inner .header-menu .header-nav-list .header-nav-item {
  position: relative;
  padding: 0 10px;
}
.header .header-inner .header-menu .header-nav-list .header-nav-item-link {
  display: block;
  padding: 24px 12px;
}
.header .header-inner .header-menu .header-nav-list .header-nav-item-link-text {
  font-size: 20px;
  font-weight: 800;
  position: relative;
  color: #fff;
  line-height: 24px;
}
.header .header-inner .header-menu .header-nav-list .header-nav-item-link-text:hover {
  color: #7070FF;
  text-decoration: underline;
}
.header .header-inner .header-menu .header-nav-list .header-nav-item-link .background_white {
  color: #2D3439;
  font-weight: 800;
}
.header .header-inner .header-menu .header-nav-list .header-nav-item-link .background_white:hover {
  color: #7070FF;
  text-decoration: underline;
}
.header .header-inner .header-menu .header-nav-list .button {
  cursor: pointer;
  width: 160px;
  height: 51px;
  border: 1px solid #7070FF;
  background-color: #7070FF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-inner .header-menu .header-nav-list .button .button_text {
  font-size: 18px;
  color: white;
  font-weight: 800;
  position: relative;
}
.header .header-inner .header-menu .header-nav-list .button_list {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 16px;
  z-index: 1;
}
.header .header-inner .header-menu .header-nav-list .button_list .button_list_text {
  color: #2D3439;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
}
.header .header-inner .header-menu .header-nav-list .button_list .button_list_btn {
  background-color: #EBEBFF;
  display: block;
  width: 160px;
  margin: 10px auto;
  border: 1px solid #EBEBFF;
  border-radius: 12px;
}
.header .header-inner .header-menu .header-nav-list .button_list .button_list_btn .btn_text {
  color: #7070FF;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 5px;
}
.header .header-inner .header-menu .header-nav-list .show_list {
  max-height: 270px;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  overflow-y: auto;
  background-size: cover;
  /* 배경 이미지 크기 조절을 위해 추가 */
  transition: background-image 0.5s ease;
  /* 배경 이미지 전환을 위해 추가 */
}
.section .container {
  width: 100%;
  max-width: 1080px;
  height: 100%;
  position: relative;
}

#section1 {
  background: url("../../../public/images/main_background1.png") no-repeat;
  background-size: cover;
  background-position: center;
}

#section2 .container,
#section4 .container {
  display: flex;
  align-items: center;
}
#section2 .container > .left_content,
#section4 .container > .left_content {
  width: 50%;
  margin-bottom: 300px;
}
#section2 .container > .left_content #text1,
#section4 .container > .left_content #text1 {
  font-size: 1vw;
  text-align: left;
  font-weight: bold;
  color: #7070FF;
}
#section2 .container > .left_content #text2,
#section4 .container > .left_content #text2 {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: left;
}
#section2 .container > .left_content #text3,
#section4 .container > .left_content #text3 {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5%;
}
#section2 .container > .left_content #text4,
#section4 .container > .left_content #text4 {
  font-size: 1.2vw;
  text-align: left;
  font-weight: bold;
  color: #434E56;
}
#section2 .container > .left_content #text4,
#section4 .container > .left_content #text4 {
  font-size: 1.2vw;
  text-align: left;
  font-weight: bold;
  color: #434E56;
}
#section2 .container > .left_content #text4 .text-background,
#section4 .container > .left_content #text4 .text-background {
  background-color: #B6EDE5;
  color: #434E56;
}
#section2 .container > .right_content,
#section4 .container > .right_content {
  width: 50%;
  margin-left: 150px;
}
#section2 .container > .right_content img,
#section4 .container > .right_content img {
  height: 720px;
}

#section3 {
  background: url("../../../public/images/section3_background.png") no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 1;
  display: block;
  overflow: hidden;
}
#section3 .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background-color 0.5s ease;
}
#section3 .container .text_box {
  width: 100%;
  position: relative;
  top: 30%;
  left: 35%;
  z-index: 3;
}
#section3 .container .text_box #section3_move_text1,
#section3 .container .text_box #section3_move_text2 {
  position: relative;
  color: #fff;
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  transform: translateY(100%);
  opacity: 0;
}

#section5 {
  background-color: forestgreen;
}

#section6 {
  background-color: red;
}

#section7 {
  background-color: black;
}

#section8 {
  background-color: blue;
}

#section9 {
  background-color: bisque;
}

#section10 {
  background-color: forestgreen;
}

#section11 {
  background-color: red;
}

#section12 {
  background-color: black;
}

#section13 {
  background-color: blue;
}

#section14 {
  background-color: bisque;
}

#section15 {
  background-color: forestgreen;
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.section .container .text_box {
  animation: slide-up 1s forwards;
}/*# sourceMappingURL=style.css.map */